* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  overflow: hidden;
  color: var(--droppex-color-stylewhite-70, #fafafab3);
  background: #1e1e1e;
}

.top_container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.select-options-no-option-selected {
  display: flex;
  align-items: center;
  padding-right: 2.5rem;
  position: relative;
}

.rectangle-61764 {
  border-radius: 0.6rem;
  background: #8b8b8b0f;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 67.6rem;
  height: 3.6rem;
}

[class^="dec-"] {
  position: relative;
  margin-top: 0.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  color: var(--droppex-color-stylewhite-70, #fafafab3);
  font: 400 0.9rem "Poppins";
}

.select-folder-or-file-to-see-options {
  margin: 0.9rem 0.6rem 0.9rem 0;
  color: var(--droppex-color-stylegray, #939393);
  align-items: center;
  display: flex;
  font: var(--heading-12-font-weight, 400) var(--heading-12-font-size, 0.8rem)
    var(--heading-12-font-family, "Poppins");
}

.select-folder-or-file-to-see-options img {
  width: 1.2rem !important;
  margin-right: 4px;
}

.line-4,
.line-5 {
  background: #fafafa1a;
  width: 0.1rem;
  height: 2.9rem;
}

.line-4 {
  margin-right: 1.5rem;
}

.options,
.component-2,
.component-5,
.component-6,
.options-6,
.show-hide {
  margin: 0.9rem 1.1rem 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.show-hide > img {
  width: 1.5rem;
}

.component-2 {
  flex-direction: column;
}

.component-5,
.component-6 {
  flex-direction: row;
}

.checkbox-13 {
  margin: 0.2rem 1.3rem 0.2rem 0;
}

.arrow-down {
  margin: 0.6rem 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 0.4rem;
  box-sizing: border-box;
}

.checkbox-20,
.checkbox-23 {
  margin: 0.3rem 1.5rem 0.3rem 0;
}

.kb {
  margin: 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  color: var(--droppex-color-stylewhite-70, #fafafab3);
  font: 400 0.9rem "Poppins";
}

.ellipse-93 {
  border-radius: 0.3rem;
  background: var(--droppex-color-styleprimary-blue, #57acdc);
  margin: 0.7rem 0.3rem 0.7rem 0;
  width: 0.5rem;
  height: 0.5rem;
}
.mb-2{
  margin-bottom: 1rem;
}
.nav-bar {
  background: #121212;
  position: absolute;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0 18.4rem;
  width: 5rem;
  box-sizing: border-box;
  transition: all 0.4s ease;
  z-index: 50;
}
.hide{
  transform: translateX(-100%);
}
.toggle-navbar-icon,.toggle-navbar-backarrow{
  filter: invert(1);
  width: 1.2rem;
  cursor: pointer;
  transition: margin 0.3s ease;
}
.toggle-navbar-backarrow{
  margin-top: -1.5rem 
}
.nav-bar:hover .toggle-navbar-backarrow{
  margin: -1.5rem auto 0 1rem
  
}
.checkbox,
.checkbox-12,
.checkbox-13,
.checkbox-14,
.checkbox-15,
.checkbox-16,
.checkbox-17,
.checkbox-18,
.checkbox-19,
.checkbox-20,
.checkbox-21,
.checkbox-22,
.checkbox-23 {
  border-radius: 0.3rem;
  border: 0.1rem solid var(--droppex-color-stylegray, #939393);
  background: var(--droppex-color-style-light-background, #1e1e1e);
  margin-right: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
}

.dec-32022-usergmail,
.members,
.line-5 {
  margin-right: 1.3rem;
}

.checkbox-14,
.checkbox-15,
.checkbox-16,
.checkbox-17,
.checkbox-18,
.checkbox-19,
.checkbox-21,
.checkbox-22 {
  margin: 0.3rem 0.5rem 0.3rem 0;
}

@media (min-width: 850px) and (max-width: 1000px) {
  .container-99 .drag-and-drop-text {
    display: none;
  }

  .drag-and-drop {
    width: fit-content !important;
    padding: 0.4rem 0 0.4rem 0.6rem !important;
  }

  .container-99 .search-bar {
    flex-grow: 1;
  }
}

@media (max-width: 710px) {
  .container-99 .drag-and-drop {
    /* order: 20 !important; */
    margin-top: 5px;
    padding-left: 0;
    width: fit-content !important;
  }
}


@media (max-width: 850px) {
  .container-115 {
    margin-top: 1rem !important;
    padding-inline: 0.5rem !important;
  }
  .container-99 .drag-and-drop {
    order: 20 !important; 
    border: none !important;

 
  }
  .nav-bar {
    margin-right: 0;
  }

  .setting-4,
  img.link,
  img.search-normal-199,
  img.cloud-cross {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }


  .container-99 .search-bar {
    flex-grow: 1;
  }

  .container-99 {
    flex-wrap: wrap !important;
  }

  .container {
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media (max-width: 550px) {
 
  img.cloud-cross {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .search-bar {
    padding: 0.3rem 1rem 0.3rem 0.9rem !important;
    flex-grow: 1;
    height: 3rem;
    border-radius: 5px !important;
    width: 100% !important;
    order: 1;
    margin: 10px 0;
  }
.frame-3{
  margin-left: auto;
}
  input.search-for-file-folder-shared-storehouse {
    font-size: 1rem;
    width: 74%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img.vector-211,
  img.vector-212 {
    width: 0.3rem !important;
    height: 0.3rem !important;
  }

  /* .nav-bar:hover {
    position: absolute;
  } */

  .no-item-selected,
  .line-4 {
    display: none;
  }
}
.no-item-selected{
  font-size: 0.8rem;
  margin-right: .5rem;
}
.nav-bar > .logo > .droppex,
.nav-bar > .upload-button > .new-folder {
  opacity: 0;
  position: absolute;
  left: -1000px;
  transition: opacity 0.3s ease;
}
.nav-bar:hover .new-folder{
  /* transform: translateX(-3rem); */
}

.nav-bar:hover {
  width: 16rem;
}

.nav-bar:hover .cloud {
  margin: 0 0.9rem 0 0;
}

.nav-bar:hover .storage {
  background: #181818;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: end;
  justify-content: center;
}

.nav-bar:hover .storageCircleOutline .gb-100-gb-tiny {
  opacity: 0 !important;
}

.nav-bar:hover .storageCircleOutline {
  box-shadow: none;
}

.group-1000004468 {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

.search-bar {
  border-radius: 0.6rem;
  border: 0.1rem solid #939393;
  background: #1e1e1e;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem 1rem 0.8rem 0.9rem;
  width: 50%;
  align-items: center;
  box-sizing: border-box;
}

.search-for-file-folder-shared-storehouse {
  all: unset;
  width: 90%;
  color: var(--gray, #939393);
}

.search-normal {
  margin-right: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  align-items: center;
}

.storehousename {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.drag-and-drop {
  border-radius: 0.6rem;
  border: 0.1rem dashed #939393;
  background: #1e1e1e;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.6rem 0 0.6rem 1rem;
  width: 35%;
  min-width: 1rem;
  flex-shrink: 1;
  box-sizing: border-box;
  align-items: center;
}

.drag-and-drop-text {
  text-decoration-line: underline;
  color: var(--droppex-color-styleprimary-blue, #57acdc);
  font: 400 0.9rem/1.333 "Poppins";
}

.group-1000003773 {
  margin-right: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.9rem;
  height: 1.9rem;
  box-sizing: border-box;
  align-items: center;
}

.cloud-cross {
  width: 1.9rem;
  height: 1.9rem;
}

.search-bar-setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  align-items: center;
}

.frame-3 {
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

.vector-59 {
  background: #939393;
  margin-top: 0.2rem;
  width: 0.1rem;
  height: 0.3rem;
}

.group-1000003956 {
  border-radius: 1.1rem;
  background: #57acdc1c;
  position: relative;
  margin: 0.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 0.8rem;
  width: 2.3rem;
  height: fit-content;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.container-92 {
  margin-right: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 0.5rem;
  box-sizing: border-box;
}

.container-94 {
  border-top: 0.1rem solid #fafafa1a;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-95 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  flex-grow: 1;
}

.container-99 {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 5px;
}

.container-100 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  padding-inline: 0.5rem;
}

.container-115 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 1rem;
  overflow: hidden;
}

.vector-120 {
  margin-bottom: 0.2rem;
  width: 1rem;
  height: 0.4rem;
}

.documents {
  margin: 0.3rem 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  color: var(--droppex-color-stylewhite, #fafafa);
  font: var(--heading-14-font-weight, 400) var(--heading-14-font-size, 0.9rem)
    var(--heading-14-font-family, "Poppins");
}

.folder {
  margin-right: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.7rem;
  height: 1.7rem;
  box-sizing: border-box;
}

.pdf-11 {
  margin-right: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.4rem;
  height: 1.9rem;
  box-sizing: border-box;
}

.rectangle-6185161 {
  border-radius: 0.3rem;
  background: url(https://fn12.com/api/clusters/cluster-fn12-prod-europe-west1/projects/9qkMUBd4SXJYbFUcv6L3Xo/assets/images/3ba882876c314c3b0c3349bfc27f3d7e72ea4147?Expires=1711451710&KeyName=fn12-cdn&Signature=m9hfyLOFgnACRwS3VI4NvbNFpS8=)
      50% / cover no-repeat,
    linear-gradient(#1e1e1e, #1e1e1e);
  width: 1.9rem;
  height: 1.9rem;
}

.logo {
  margin: 0 0rem 2.5rem 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.droppex {
  overflow-wrap: break-word;
  color: var(--primary-blue, #57acdc);
  transition: opacity 0.2s ease-in;
  font: 700 1.5rem "Poppins";
}

.iconbox {
  margin: 0 0.4rem;
  width: 1.7rem;
  height: 1.7rem;
}

.sidebarItem {
  margin-bottom: 1.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 4.5rem;
  box-sizing: border-box;
  position: relative;
}

.frame-2 {
  margin: 0.3rem 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.frame-2 .category img {
  transition: all 0.4s ease;
}

.frame-2:hover .category img {
  transition: all 0.4s ease;
  transform: rotate(40deg);
}

.category {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

.home,
.trash {
  overflow-wrap: break-word;
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
  font: 600 1rem "Poppins";
}

.trash {
  color: #939393;
}

.rectangle {
  border-radius: 0 0.3rem 0.3rem 0;
  width: 0.4rem;
  height: 2rem;
}

.rectangle-blue {
  background: var(--primary-blue, #57acdc);
}

.rectangle-transparent {
  background: transparent;
}

.line-1 {
  background: #1e1e1e;
  margin-bottom: 2.4rem;
  width: 15.6rem;
  height: 0.1rem;
}

.storage {
  margin: 0 0 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.cloud {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

.storage-text {
  overflow-wrap: break-word;
  color: #939393;
  opacity: 0;
  font: 400 1rem "Poppins";
  position: absolute
}

.storageCircleOutline {
  border-radius: 0.6rem;
  background: #1e1e1e;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem 0;
  width: 90%;
  box-sizing: border-box;
  box-shadow: inset 0 -3rem 0 #57acdc;
  border: 1px solid #224558
}

.storageCircleOutline > div {
  position: relative;
  margin-bottom: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3.3rem 0 3.2rem;
  width: 7.9rem;
  box-sizing: border-box;
}

.storageCircleOutline > div > img {
  position: absolute;
  left: 50%;
  top: 0;
  translate: -50% 0;
  width: 7.9rem;
  height: 7.9rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.b {
  position: relative;
  overflow-wrap: break-word;
  color: var(--droppex-color-styleprimary-blue, #57acdc);
  opacity: 0;
  transition: opacity 0.3s ease;
  font: 700 1.1rem "Quicksand";
}

.gb-100-gb {
  margin-left: 0.3rem;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--droppex-color-stylegray, #939393);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gb-100-gb-tiny {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 2rem;

}

.upload-button {
  position: relative;
  margin: 0 0 1.9rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.new-folder {
  margin: 0.1rem 0 0 0.5rem;
  overflow-wrap: break-word;
  color: #fff;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  font: 500 1rem "Poppins";
  
}

.folder-add-195 {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 100%;
  background: #57acdc;
  padding: 0.7rem;
}

.vector-211 {
  margin: 0 0.1rem 0.1rem;
  width: 0.5rem;
  height: 0.5rem;
}

.vector-212 {
  width: 0.7rem;
  height: 0.4rem;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: var(--droppex-color-style-dark-background, #121212);
}

.table-wrapper::-webkit-scrollbar-track {
  border-radius: 5rem;
  background: var(--droppex-color-styledarkbg-light, #171717);
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--droppex-color-style-dark-background, #0c0c0c);
}

.container-225 {
  border-radius: 0.6rem;
  background: #171717;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9rem 1rem 0.9rem 0.8rem;
}

.table-wrapper {
  overflow: auto;
  height: calc(100vh - 15rem);
  padding: 0 1rem;
}

.fl-table {
  border-radius: 5px;
  font-weight: 400;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  color: var(--droppex-color-stylewhite-70, #fafafab3);
}

.fl-table td,
.fl-table th {
  text-align: start;
  padding: 8px;
  font-weight: 400;
}

.flex-td {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 0.5rem;
}

.fl-table thead {
  background: #171717;
  height: 4rem;
}

.fl-table tbody tr:nth-child(even) {
  border-radius: 1rem;
  background: #8b8b8b0f;
}

.fl-table tbody tr:nth-child(odd) {
  border-radius: 1rem;
  background: transparent;
}

.nav-bar:hover .new-folder,
.nav-bar:hover > .logo > .droppex,
.nav-bar:hover .home,
.nav-bar:hover .trash,
.nav-bar:hover .storage-text,
.nav-bar:hover .storageCircleOutline > div > img,
.nav-bar:hover .storageCircleOutline,
.nav-bar:hover .storageCircleOutline .b,
.nav-bar:hover .storageCircleOutline .gb-100-gb-tiny,
.nav-bar:hover .storageCircleOutline .gb-100-gb,
.nav-bar:hover .sidebarItem,
.nav-bar > .logo > .iconbox,
.nav-bar:hover .upload-button,
.nav-bar:hover .gb-100-gb,
.nav-bar:hover .storageCircleOutline .gb-100-gb {
  opacity: 1;
}


.nav-bar:hover .storage-text,
.nav-bar:hover .droppex,
.nav-bar:hover .new-folder {
  /* margin:0 2.2rem 2.5rem 0; */
  position: relative;
  left: 0;
}

.arrow-square-left,
.checkbox-1,
.vector-128 {
  width: 1.3rem;
  height: 1.3rem;
}

.vector-119,
.vector-127 {
  width: 1rem;
  height: 0.4rem;
}

.swap,
.stroke-1121 {
  width: 0.9rem;
  height: 0.9rem;
}

.vrstva-x-0020115,
.vrstva-x-0020114,
.vrstva-x-0020118,
.vrstva-x-002014,
.vrstva-x-002014156 {
  width: 1.4rem;
  height: 1.9rem;
}

.rectangle-6185151,
.rectangle-6185153 {
  border-radius: 0.3rem;
  background: linear-gradient(#0003, #0003),
    url(https://fn12.com/api/clusters/cluster-fn12-prod-europe-west1/projects/9qkMUBd4SXJYbFUcv6L3Xo/assets/images/06ed00b65efd09e1d5eaa79622d0f9aa93c1897f?Expires=1711451710&KeyName=fn12-cdn&Signature=xVkiLLqzb_2GnjfyO7WOGBGewrk=)
      50% / cover no-repeat,
    linear-gradient(#1e1e1e, #1e1e1e);
  width: 1.9rem;
  height: 1.9rem;
}

.category-176,
.cloud-189,
.folder-add-195 img,
.search-normal-199,
.setting-4,
.link {
  width: 1.5rem;
  height: 1.5rem;
}

.home:hover,
.trash:hover,
.home {
  color: var(--primary-blue, #57acdc);
}
