/* Styles for table wrapper */
.table-wrapper {
  overflow: auto;
  padding: 0rem;
  margin-top: 1rem;
}

/* Styles for fl-table */
.fl-table {
  border-radius: 5px;
  font-weight: 400;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  color: var(--droppex-color-stylewhite-70, #fafafab3);
}

/* Styles for table cells */
.fl-table td,
.fl-table th {
  text-align: start;
  padding: 8px;
  font-weight: 400;
}

/* Styles for table header */
.fl-table thead {
  background: #171717;
  height: 4rem;
}

/* Styles for alternating rows */
.fl-table tbody tr:nth-child(even) {
  border-radius: 1rem;
  background: #8b8b8b0f;
}

.fl-table tbody tr:nth-child(odd) {
  border-radius: 1rem;
  background: transparent;
}

/* Styles for table dots */
.table__activeDot,
.table__dot {
  border-radius: 0.3rem;
  margin: 0.7rem 0.3rem 0.7rem 0;
  width: 0.5rem;
  height: 0.5rem;
}

/* Styles for active dots */
.table__activeDot {
  background: var(--droppex-color-styleprimary-blue, #57acdc);
}

/* Styles for thumbnail */
.table__thumbnail-1 {
  border-radius: 0.3rem;
  background: url(https://fn12.com/api/clusters/cluster-fn12-prod-europe-west1/projects/9qkMUBd4SXJYbFUcv6L3Xo/assets/images/3ba882876c314c3b0c3349bfc27f3d7e72ea4147?Expires=1711451710&KeyName=fn12-cdn&Signature=m9hfyLOFgnACRwS3VI4NvbNFpS8=)
      50% / cover no-repeat,
    linear-gradient(#1e1e1e, #1e1e1e);
  width: 1.9rem;
  height: 1.9rem;
}
